@using TotalBase.Enums

@model TotalDTO.BaseDTO

<div class="single-full-panel">
    @if (Model.Voidable || Model.UnVoidable)
    {
        <button type="submit" form="MainForm" class="k-button custom-button"> <img src="~/Content/Images/Mains/@(@Model.InActive ? "cancel-yellow-28.png" : "cancel-green-28.png")" alt="" style="padding-top:2px;padding-bottom:2px;" /> Xác nhận @(Model.InActive ? Model.UnVoidWarning : Model.VoidWarning) phiếu này </button>
    }
    else
    {
        <div id="div-DeleteConfirm">
            <img src="~/Content/Images/New/alert1.png" alt="Alert" /><label>Dữ liệu này đã bị khóa.</label>
        </div>
    }
</div>