@using TotalPortal.Configuration
@using TotalModel.Models;

@(Html.Kendo().Grid<GoodsReceiptPendingPlannedItem>()
    .Name("goodsReceiptPendingPlannedItemGrid")
    .Columns(columns =>
    {
        columns.Bound(c => c.PlannedOrderReference).Title("KHSX").Width(50);
        columns.Bound(c => c.PlannedOrderCode).Title("Số CT").Width(38);
        columns.Bound(c => c.PlannedOrderEntryDate).Title("Ngày KHSX").Width(55).Format("{0:" + Settings.DateFormat + "}");
        columns.Bound(c => c.MinHandoverDate).Title("Ngày GH").Width(55).Format("{0:" + Settings.DateFormat + "}");
        columns.Bound(c => c.CustomerCode).Title("Mã KH").Width(60);
        columns.Bound(c => c.CustomerName).Title("Tên KH").Width(132);
        columns.Bound(c => c.PlannedOrderCaption).Title("Mặt hàng").Width(210);        
    })
    .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>
            <div class="toolbar" style="float: right;">
                <label>Nhập số KHSX hoặc mã, tên khách hàng</label>
                <input id="goodsReceiptPendingPlannedItemFilter" class="k-textbox" style="text-align: center; margin-right: 13px;" onkeyup="goodsReceiptPendingPlannedItemFilter_KeyUp()" />
            </div>
        </text>);
    })
        .Scrollable(s => s.Height(Settings.PopupContentHeight))
        .DataSource(ds => ds.Ajax()
            .Read(read => read.Action("GetPlannedItems", "GoodsReceiptAPIs", new { area = "Inventories" }).Data("onAdditionalGetPurchaseRequisitions"))
            .ServerOperation(false)
        )
        .Selectable()
)

<script type="text/javascript">
    function onAdditionalGetPurchaseRequisitions(e) {
        return {
            locationID: window.parent.requireConfig.pageOptions.LocationID
        };
    }

    function goodsReceiptPendingPlannedItemFilter_KeyUp() {
        var goodsReceiptPendingPlannedItemFilter = $("#goodsReceiptPendingPlannedItemFilter").val(), gridDetails = $("#goodsReceiptPendingPlannedItemGrid").data("kendoGrid");

        if (goodsReceiptPendingPlannedItemFilter && goodsReceiptPendingPlannedItemFilter.length >= "@Settings.AutoCompleteMinLenght") {
            gridDetails.dataSource.filter({
                logic: "or",
                filters: [
                    { field: "PlannedItemCode", operator: "contains", value: goodsReceiptPendingPlannedItemFilter },
                    { field: "CustomerCode", operator: "contains", value: goodsReceiptPendingPlannedItemFilter },
                    { field: "CustomerName", operator: "contains", value: goodsReceiptPendingPlannedItemFilter }
                ]
            });


        } else {
            if (gridDetails.dataSource.filter() != undefined)
                gridDetails.dataSource.filter({});
        }
    }

    $("#goodsReceiptPendingPlannedItemGrid").dblclick(function (e) {
        okButton_Click();
    })
</script>

